.header{
  height: 55px;
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  position:fixed ;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-style: 1px;
  border-bottom-color: rgb(207, 207, 207);
  border-bottom-style: solid;
  z-index: 100;
  
}


.left-section{
  align-items: center;
  display: flex;
}


.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;

}


.youtube-logo{
  height: 20px;
}


.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  width: 0;
  }

  .search-bar::placeholder{
    font-family: Roboto, arial;
    font-size: 16px;
    
  }


.search-button{
  height: 39px;
  width: 70px;
  background-color: rgb(245, 245, 245);
  border-style: solid;
  border-width: 1px;
  border-color:rgb(192, 192, 192) ;
  margin-left: -1px;
  margin-right: 10px;


}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.youtube-apps-icon-container,
.notifications-icon--tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon--tooltip .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;  
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  font-family: Roboto, arial;

  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon--tooltip:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}


.voice-search-button{
  height: 40px;
  width: 45px;
  border-radius: 25px;
  border: none;
  background-color: rgb(228, 228, 228);
 
}

.voice-search-button, .voice-search-button{
  position: relative;
}

.voice-search-icon{
  height: 24px;
  background-color: rgb(228, 228, 228);
}


.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-number{
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  color: white;
  font-family: Roboto, arial;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}
  
.current-picture-my-channel{
  height: 32px;
  border-radius: 25px;
}